
//bootstrap import
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

//variables import
@import 'variables';


.container {
  width: 100vw;
  height: 100vh;
  background-color: $start;
  background: radial-gradient(center, circle, $start, $start-outer);
  background:-webkit-radial-gradient(center, circle, $start, $start-outer);
  background:-moz-radial-gradient(center, circle, $start, $start-outer);
}

.wrapper {
  text-align: center;
  line-height: 100vh;
}


.current-time {
  display: inline-block;
}

.line {
  height: 3px;
  width: 0%;
  background-color: $white;
  margin: 0px auto;
}

.hours,
.minutes,
.seconds {
  color: $white;
  font-size: 120px;
}

.minutes:before {
  content: ":";
}

.seconds:before {
  content: ":";
}
